#login {
  display: flex;
  height: calc(100vh - 65px);
}

#login > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 65px);
  padding: 25px 50px;
}

#login-right {
  background-color: var(--primary-color);
}

#login-right img {
  width: 70%;
}

form {
  width: 70%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 10px 10px 0;
}

.input label, .input i {
  margin: 0 10px;
}

#btn-google {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(224, 90, 67);
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s;
}

#btn-google:hover {
  background-color: #A16358;
}

#btn-google p {
  font-size: 13.3333px;
}

#text-or {
  text-align: center;
  position: relative;
}

#text-or::after, #text-or::before {
  content: "";
  top: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: scaleY(0.04);
}

#text-or::after {
  left: 0;
}

#text-or::before {
  right: 0;
}

#btn-google p, #btn-google i {
  color: var(--white-color);
}

#btn-google p {
  font-weight: bold;
}

#another-form a {
  color: rgb(224, 90, 67);
}

@media only screen and (max-width: 600px) {
  #login {
    flex-direction: column-reverse;
  }

  .input label, .input i {
    display: none;
  }

  .input input {
    padding: 10px;
  }
}